<app-header></app-header>

<!--Form Bank Account -->

<mat-card class="card">
  <mat-card-content>
    <mat-card-header class="header">
      <mat-card-title class="tittle">Request New Account</mat-card-title>
    </mat-card-header>
    <form [formGroup]="bankAccountForm" class="content">
      <div class="form">

        <!-- Username Field-->
        <mat-form-field class="input" appearance="outline">
          <mat-label>Username</mat-label>
          <mat-select formControlName="user_id">
            <mat-option [value]="user_id">
              {{user_id}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Currency Input Field-->
        <mat-form-field class="input" appearance="outline">
          <mat-label>Currency</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{currency}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Account Type Input Field-->
        <mat-form-field class="input" appearance="outline">
          <mat-label>Account Type</mat-label>
          <mat-select formControlName="accountType">
            <mat-option [value]="accountType">
              {{accountType}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-dialog-actions>
          <button mat-raised-button id="btn1" (click)="saveForm()" color="primary" [disabled]="!bankAccountForm.valid">
            Send Request
          </button>
          <button mat-raised-button id="btn2" (click)="back()">Back
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>

