h1, h2, h3 {
  padding-top: 10px;
  padding-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkcyan;
}

.dashboard-card {
  position: absolute;
  top: 50px;
  left: 15px;
  right: 15px;
  bottom: 50px;
  max-width: 400px;
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-left: 200px;

}

.grid-container {
  margin: 30px;
}

.input {
  width: 100%;
}

#btn1 {

  margin-left: 70px;
  background-color: white;
  color: black;
  border: 1px solid black;
}


#btn2 {
  background-color: white;
  color: black;
  float: right;
  margin-right: 100px;
  border: 1px solid black;

}

#btn2:hover {
  background-color: lavender;
}

#btn1:hover {
  background-color: lavender;
}

.card {
  width: 500px;
  height: auto;
  display: block;
  background-color: lavender;
  margin: 100px auto 50px;

}

.tittle {
  padding: 9px;
  font-size: 20px;
  margin-left: 100px;
}

.header {
  background: rebeccapurple;
  color: white;
}


.form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  left: 30%;
  padding-top: 20px;
  padding-bottom: 50px;


}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}


