<app-header></app-header>

<div class="container mt-5">
  <div class="card">
    <div class="row">

      <!--Debit Card Panel-->
      <div class="col-6">
        <mat-accordion class="headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Debit Card
                <mat-icon class="icon">card_giftcard</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <em>Choose card type and bank account</em>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <form [formGroup]="debitCardForm" class="content">
              <div class="form">

                <!--Card Type Field-->
                <div>
                  <mat-form-field class="input" appearance="outline">
                    <mat-label>Card Type</mat-label>
                    <mat-select formControlName="cardType">
                      <mat-option [value]="cardTypeDebit">
                        {{cardTypeDebit}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!--Choose Account Field-->
                <div>
                  <mat-form-field class="input" appearance="outline">
                    <mat-label>Bank Account</mat-label>
                    <mat-select formControlName="bank_account_id">
                      <mat-option *ngFor="let account of clientCurrentAccounts" [value]="account['bankAccountId']">
                        {{account['iban']}}
                      </mat-option>
                      <span class="error" *ngIf="clientCurrentAccounts?.length === 0">*Must have an account of type CURRENT </span>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-dialog-actions>
                    <button mat-raised-button class="btn1" (click)="requestDebitCard()" color="primary"
                            [disabled]="!debitCardForm.valid">
                      Send Request
                    </button>
                    <button mat-raised-button class="btn2" (click)="back()">Back
                    </button>
                  </mat-dialog-actions>
                </div>
              </div>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!--Credit Card Panel-->
      <div class="col-6">
        <mat-accordion class="headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Credit Card
                <mat-icon class="icon">credit_card</mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <em>Choose card type and monthly salary</em>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="creditCardForm" class="content">
              <div class="form">

                <!--Card Type Field-->
                <div>
                  <mat-form-field class="input" appearance="outline">
                    <mat-label>Card Type</mat-label>
                    <mat-select formControlName="cardType">
                      <mat-option [value]="cardTypeCredit">
                        {{cardTypeCredit}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!--Input Salary Field-->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Monthly Salary (€)</mat-label>
                    <input matInput [(ngModel)]="salary" formControlName="monthlySalary">
                    <span class="error" *ngIf="salary < 500">*Minimum salary allowed is €500 </span>
                  </mat-form-field>
                </div>

                <!--Input Card Limit Field-->
                <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Card Limit (€)</mat-label>
                    <input matInput [(ngModel)]="limit" formControlName="cardLimit">
                    <span class="error" *ngIf="limit < 500">*Minimum card limit allowed is €500 </span>
                  </mat-form-field>
                </div>
                <div>
                  <mat-dialog-actions>
                    <button mat-raised-button class="btn1" (click)="requestCreditCard()" color="primary"
                            [disabled]="!creditCardForm.valid">
                      Send Request
                    </button>
                    <button mat-raised-button class="btn2" (click)="back()">Back
                    </button>
                  </mat-dialog-actions>
                </div>
              </div>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
