.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.form {
  margin-left: 150px;
}

.btn1 {
  margin-right: 20px;
}

.headers-align {
  margin-left: 10px;
}

.icon {
  margin-right: 10px;
  margin-left: 10px;
}

.error {
  color: red;
  font-size: small;
}

.card {
  border: none;
}
