<mat-toolbar color="primary">
  <span class="page-name">Banking Application</span>
  <span class="space-buttons"></span>
  <button mat-raised-button (click)="logOut()">Logout</button>
</mat-toolbar>

<mat-toolbar>
  <button class="m-3" mat-raised-button color="primary" routerLink="/home">Home</button>
  <button class="m-3" mat-raised-button color="primary" routerLink="/admin" *ngIf="isAdmin()">Tellers</button>
  <button class="m-3" mat-raised-button color="primary" routerLink="/teller" *ngIf="isTeller()">Clients</button>
  <button class="m-3" mat-raised-button color="primary" routerLink="/new-account" *ngIf="isClient()">+ Account
    (Current)
  </button>
  <button class="m-3" mat-raised-button color="primary" routerLink="/new-card" *ngIf="isClient()">+ Debit/Credit Card
  </button>
  <button class="m-3" mat-raised-button color="primary" routerLink="/new-transaction" *ngIf="isClient()">+ Transaction
  </button>
</mat-toolbar>
