<app-header></app-header>


<!--Form New Transaction -->

<mat-card class="card">
  <mat-card-content>
    <mat-card-header class="header">
      <mat-card-title class="tittle">Add New Transaction</mat-card-title>
    </mat-card-header>
    <form [formGroup]="transactionForm" class="content">
      <div class="form">

        <!-- Transaction Type Input Field-->
        <mat-form-field class="input" appearance="outline">
          <mat-label>Transaction Type</mat-label>
          <mat-select formControlName="transactionType">
            <mat-option *ngFor="let type of enumKeys" [value]="type">
              {{transactionTypes[type]}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Bank Account Input Field-->
        <mat-form-field class="input" appearance="outline">
          <mat-label>Bank Account</mat-label>
          <mat-select formControlName="bank_account_id">
            <mat-option *ngFor="let account of clientAccounts" [value]="account['bankAccountId']">
              {{account['accountType']}}- {{account['iban']}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount">
          </mat-form-field>
        </div>

        <mat-dialog-actions>
          <button mat-raised-button id="btn1" (click)="saveForm()" color="primary" [disabled]="!transactionForm.valid">
            Save Transaction
          </button>
          <button mat-raised-button id="btn2" (click)="back()">Back
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>
