.success {
  background: darkviolet !important;
  color: white !important;

}

.error {
  background: rgb(224, 235, 224) !important;
  color: rgb(207, 79, 79) !important;
}

.card-header {
  background-color: white;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.small-header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
