<div class="container mt-5" style="width: 50%;">
  <div class="card" style="padding: 20px;">
    <div class="card-header pb-lg-5">Welcome Online Banking</div>
    <small class="small-header pb-lg-3">Enter your username and password</small>
    <form [formGroup]="formGroup" (ngSubmit)="login()">

      <mat-form-field appearance="outline" class="w-100">
        <input matInput placeholder="Username" formControlName="userName">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <input matInput type="password" placeholder="Password" formControlName="userPassword">
      </mat-form-field>

      <div>
        <button type="submit" mat-raised-button color="primary" class="w-25 mt-lg-2 mb-lg-1">Login</button>
      </div>
    </form>
  </div>
</div>
