<app-header></app-header>
<div class="main-div">
  <h1>Tellers List
    <button mat-flat-button routerLink="/new-teller" id='addButton' type="button" *ngIf="isNewTeller">
      <mat-icon>add</mat-icon>
      Add Teller
    </button>
    <button mat-raised-button id='btn2' (click)="back()">Back</button>
  </h1>
</div>
<hr>

<div class="table">
  <table mat-table [dataSource]="tellers" class="mat-elevation-z5" matSort>

    <!-- Username Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Username</th>
      <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
    </ng-container>

    <!--First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">First Name</th>
      <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
    </ng-container>

    <!--Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Last Name</th>
      <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
    </ng-container>

    <!--Roles Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="">Role</th>
      <td mat-cell *matCellDef="let user">{{user.roles[0].roleName}}</td>
    </ng-container>

    <!--  Actions Column-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="updateTeller(user.userName)">
          <mat-icon mat-icon-button aria-hidden="false">update</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteTeller(user.userName)">
          <mat-icon mat-icon-button aria-hidden="false">delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
  </table>


  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[3,5,10,15]">
  </mat-paginator>


</div>
