table {
  margin: 30px 30px 30px 45px;
  background-color: white;
  border-color: black;
}

.table {
  width: 70%;
}

th {
  color: slateblue;
  font-size: 90%;
  padding-right: 20px;
}

td {
  color: slateblue;
  font-size: 90%;
  padding-right: 20px;
}

h1 {
  padding-left: 50px;
  color: grey;
  font-size: 30px;
  font-family: monserrat, serif;
}

#addButton {
  color: darkviolet;
  font-size: 15px;
  margin-left: 10px;
}

#close {
  color: rgb(207, 79, 79);
  margin-left: 70px;
}

button {
  color: blueviolet;
}

mat-paginator {
  width: auto;
  margin-left: 65px;
  background-color: white;
  border: 1px dashed lavender;
  color: black;
}

#btn2 {
  float: right;
  margin-right: 200px;
}

#btn2:hover {
  background-color: lavender;
}

.main-div {
  margin-top: 10px;
}

