<app-header></app-header>

<!--Form Bank Account -->

<mat-card class="card">
  <mat-card-content>
    <mat-card-header class="header">
      <mat-card-title class="tittle">Client Data</mat-card-title>
    </mat-card-header>
    <form [formGroup]="clientForm" class="content">
      <div class="form">

        <!-- Username Field-->
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Client Username" formControlName="userName">
        </mat-form-field>

        <!-- First Name Field-->
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Client First Name" formControlName="firstName">
        </mat-form-field>

        <!-- Last Name Field-->
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Client Last Name" formControlName="lastName">
        </mat-form-field>

        <!-- Email Field-->
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="email" placeholder="Client Email Address" formControlName="email">
        </mat-form-field>

        <!--Password Field-->
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="password" placeholder="Client Password" formControlName="userPassword">
        </mat-form-field>

        <!-- Role Input Field-->
        <mat-form-field class="input" appearance="outline">
          <mat-label>User Role</mat-label>
          <mat-select formControlName="roles">
            <mat-option *ngFor="let roles of userRoles" [value]="[roles]">
              {{roles['roleName']}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-dialog-actions>
          <button mat-raised-button id="btn1" (click)="saveForm()" color="primary" [disabled]="!clientForm.valid">
            Save
          </button>
          <button mat-raised-button id="btn2" (click)="back()">Back
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>


