.admin {
  color: darkslateblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-responsive {
  width: 1000px;
  height: 400px;
}

.header {
  color: darkslateblue;
}

mat-table {
  width: auto;
  background-color: white;
  border-color: black;
}

th {

  color: slateblue;
  font-size: 90%;
  padding-right: 20px;
}

td {
  color: slateblue;
  font-size: 90%;
  padding-right: 20px;
}

mat-paginator {
  width: auto;

  background-color: white;
  border: 1px dashed lavender;
  color: slateblue;
}
