<app-header></app-header>
<div class="m-5" *ngIf="isAdmin()">
  <h1 class="admin">Welcome {{userName}}</h1>
  <img class="img-responsive" src="assets/images/bank.jpg" alt="Photo of the bank">
</div>

<div class="m-5" *ngIf="isTeller()">
  <h1 class="admin">Welcome {{userName}}</h1>
  <hr>
  <!-- Bank Accounts Table for teller-->
  <div class="col-8 m-lg-5">
    <h3 class="pt-2 header"><strong>All bank accounts</strong></h3>
    <hr>
    <div class="mt-3">
      <mat-table [dataSource]="allBankAccounts" class="mat-elevation-z5" matSort>

        <!-- IBAN Column -->
        <ng-container matColumnDef="iban">
          <th mat-header-cell *matHeaderCellDef>IBAN</th>
          <td mat-cell *matCellDef="let account">{{ account.iban }}</td>
        </ng-container>

        <!--Currency Column -->
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef>Currency</th>
          <td mat-cell *matCellDef="let account">{{account.currency}}</td>
        </ng-container>

        <!--Balance Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef>Current Balance</th>
          <td mat-cell *matCellDef="let account">{{account.balance}}</td>
        </ng-container>

        <!--Type of account Column -->
        <ng-container matColumnDef="accountType">
          <th mat-header-cell *matHeaderCellDef>Account Type</th>
          <td mat-cell *matCellDef="let account">{{account.accountType}}</td>
        </ng-container>

        <!--Interest Column -->
        <ng-container matColumnDef="interest">
          <th mat-header-cell *matHeaderCellDef>Interest</th>
          <td mat-cell *matCellDef="let account">{{account.interest}}</td>
        </ng-container>

        <!--Username Column -->
        <ng-container matColumnDef="user_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let account">{{account.user_id}}</td>
        </ng-container>

        <!--Approval Column -->
        <ng-container matColumnDef="approved">
          <th mat-header-cell *matHeaderCellDef>Is approved?</th>
          <td mat-cell *matCellDef="let account">{{account.approved}}</td>
        </ng-container>

        <!--  Actions Column-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let account">
            <button *ngIf="account.approved == false" mat-flat-button color="warn"
                    (click)="approveAccount(account.bankAccountId)">
              Approve
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tellerDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: tellerDisplayedColumns"></tr>
      </mat-table>


      <mat-paginator #paginator1
                     [pageSize]="5"
                     [pageSizeOptions]="[3,5,10,15]">
      </mat-paginator>
    </div>
  </div>

  <!-- Cards  Table for teller-->
  <div class="col-8 m-lg-5">
    <h3 class="pt-2 header"><strong>All Cards</strong></h3>
    <hr>
    <div class="mt-3">
      <mat-table [dataSource]="allCards" class="mat-elevation-z5" matSort>

        <!-- Card Type Column -->
        <ng-container matColumnDef="cardType">
          <th mat-header-cell *matHeaderCellDef>Card Type</th>
          <td mat-cell *matCellDef="let card">{{ card.cardType }}</td>
        </ng-container>

        <!--Card Limit Column -->
        <ng-container matColumnDef="cardLimit">
          <th mat-header-cell *matHeaderCellDef>Card Limit</th>
          <td mat-cell *matCellDef="let card">{{card.cardLimit}}</td>
        </ng-container>

        <!--Bank Account Column -->
        <ng-container matColumnDef="bank_account_id">
          <th mat-header-cell *matHeaderCellDef>Bank Account</th>
          <td mat-cell *matCellDef="let card">{{card.bank_account_id}}</td>
        </ng-container>

        <!--Approval Column -->
        <ng-container matColumnDef="approved">
          <th mat-header-cell *matHeaderCellDef>Is approved?</th>
          <td mat-cell *matCellDef="let card">{{card.approved}}</td>
        </ng-container>

        <!--  Actions Column-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let card">
            <button *ngIf="card.approved == false" mat-flat-button color="warn"
                    (click)="approveCard(card.id)">
              Approve
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tellerCardsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: tellerCardsDisplayedColumns"></tr>
      </mat-table>

      <mat-paginator #paginator2
                     [pageSize]="5"
                     [pageSizeOptions]="[3,5,10,15]">
      </mat-paginator>
    </div>
  </div>

  <!-- Transaction Table for teller-->
  <div class="col-8 m-lg-5">
    <h3 class="pt-2 header"><strong>All bank transactions</strong></h3>
    <hr>
    <div class="mt-3">
      <mat-table [dataSource]="allTransactions" class="mat-elevation-z5" matSort>

        <!--Bank Account Column -->
        <ng-container matColumnDef="bank_account_id">
          <th mat-header-cell *matHeaderCellDef>Bank Account Id</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.bank_account_id}}</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.amount }}</td>
        </ng-container>

        <!--Currency Column -->
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef>Currency</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.currency}}</td>
        </ng-container>

        <!--Transaction Type -->
        <ng-container matColumnDef="transactionType">
          <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.transactionType}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="clientTransactionsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: clientTransactionsDisplayedColumns"></tr>
      </mat-table>

      <mat-paginator #paginator3
                     [pageSize]="5"
                     [pageSizeOptions]="[3,5,10,15]">
      </mat-paginator>
    </div>
  </div>
</div>


<div class="m-5" *ngIf="isClient()">
  <h1 class="admin">Welcome {{userName}}</h1>
  <hr>
  <div class="container mt-3">
    <div class="card">
      <div class="row">

        <!-- Bank Accounts Table for client-->
        <div class="col-8 m-lg-5">
          <h3 class="pt-2 header"><strong>Your bank accounts</strong></h3>
          <hr>
          <div class="mt-3">
            <mat-table [dataSource]="clientBankAccounts" class="mat-elevation-z5" matSort>

              <!-- Id Column -->
              <ng-container matColumnDef="bankAccountId">
                <th mat-header-cell *matHeaderCellDef>Bank Account Id</th>
                <td mat-cell *matCellDef="let account">{{ account.bankAccountId }}</td>
              </ng-container>
              <!-- IBAN Column -->
              <ng-container matColumnDef="iban">
                <th mat-header-cell *matHeaderCellDef>IBAN</th>
                <td mat-cell *matCellDef="let account">{{ account.iban }}</td>
              </ng-container>

              <!--Currency Column -->
              <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef>Currency</th>
                <td mat-cell *matCellDef="let account">{{account.currency}}</td>
              </ng-container>

              <!--Balance Column -->
              <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef>Current Balance</th>
                <td mat-cell *matCellDef="let account">{{account.balance}}</td>
              </ng-container>

              <!--Type of account Column -->
              <ng-container matColumnDef="accountType">
                <th mat-header-cell *matHeaderCellDef>Account Type</th>
                <td mat-cell *matCellDef="let account">{{account.accountType}}</td>
              </ng-container>

              <!--Interest Column -->
              <ng-container matColumnDef="interest">
                <th mat-header-cell *matHeaderCellDef>Interest</th>
                <td mat-cell *matCellDef="let account">{{account.interest}}</td>
              </ng-container>

              <!--Approval Column -->
              <ng-container matColumnDef="approved">
                <th mat-header-cell *matHeaderCellDef>Is approved?</th>
                <td mat-cell *matCellDef="let account">{{account.approved}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="clientDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let user; columns: clientDisplayedColumns"></tr>
            </mat-table>


            <mat-paginator #paginator4
                           [pageSize]="5"
                           [pageSizeOptions]="[3,5,10,15]">
            </mat-paginator>


          </div>
        </div>

        <!-- Cards Table for client-->
        <div class="col-8 m-lg-5">
          <h3 class="pt-2 header"><strong>Your Cards</strong></h3>
          <hr>
          <div class="mt-3">
            <mat-table [dataSource]="clientCards" class="mat-elevation-z5" matSort>

              <!-- Card Type Column -->
              <ng-container matColumnDef="cardType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header=>Card Type</th>
                <td mat-cell *matCellDef="let card">{{ card.cardType }}</td>
              </ng-container>

              <!--Card Limit Column -->
              <ng-container matColumnDef="cardLimit">
                <th mat-header-cell *matHeaderCellDef>Card Limit</th>
                <td mat-cell *matCellDef="let card">{{card.cardLimit}}</td>
              </ng-container>

              <!--Bank Account Column -->
              <ng-container matColumnDef="bank_account_id">
                <th mat-header-cell *matHeaderCellDef>Bank Account Id</th>
                <td mat-cell *matCellDef="let card">{{card.bank_account_id}}</td>
              </ng-container>

              <!--Approval Column -->
              <ng-container matColumnDef="approved">
                <th mat-header-cell *matHeaderCellDef>Is approved?</th>
                <td mat-cell *matCellDef="let card">{{card.approved}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="clientCardsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let user; columns: clientCardsDisplayedColumns"></tr>
            </mat-table>

            <mat-paginator #paginator5
                           [pageSize]="5"
                           [pageSizeOptions]="[3,5,10,15]">
            </mat-paginator>
          </div>
        </div>

        <!-- Transactions Table for client-->
        <div class="col-8 m-lg-5">
          <h3 class="pt-2 header"><strong>Your bank transactions</strong></h3>
          <hr>
          <div class="mt-3">
            <mat-table [dataSource]="clientTransactions" class="mat-elevation-z5" matSort>

              <!--Bank Account Column -->
              <ng-container matColumnDef="bank_account_id">
                <th mat-header-cell *matHeaderCellDef>Bank Account Id</th>
                <td mat-cell *matCellDef="let transaction">{{transaction.bank_account_id}}</td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.amount }}</td>
              </ng-container>

              <!--Currency Column -->
              <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef>Currency</th>
                <td mat-cell *matCellDef="let transaction">{{transaction.currency}}</td>
              </ng-container>

              <!--Transaction Type -->
              <ng-container matColumnDef="transactionType">
                <th mat-header-cell *matHeaderCellDef>Transaction Type</th>
                <td mat-cell *matCellDef="let transaction">{{transaction.transactionType}}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="clientTransactionsDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let user; columns: clientTransactionsDisplayedColumns"></tr>
            </mat-table>

            <mat-paginator #paginator6
                           [pageSize]="5"
                           [pageSizeOptions]="[3,5,10,15]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
